
 .marquee {
   display: inline-block;
   background-color: goldenrod;
   /* height: 5.5rem; */
   width: 23%;

 } 
 .marquee1 {
  display: inline-block;
  background-color: #AA6C39;
  /* height: 5.5rem; */
  width: 23%;
} 
.marq{
  margin-top: 32px;
}
.kra{
  margin: 5px 5px;
  width: 11%;
}

.text{
  display: flex;
  /* text-align: center; */
  justify-content: center;
  padding: 32px;
  font-size: 20px;
  color: white;
}
