
 .marquee {
   display: inline-block;
   background-color: goldenrod;
   height: 5rem;
   width: 23%;

 } 
 .marquee1 {
  display: inline-block;
  background-color: #AA6C39;
  height: 5rem;
  width: 23%;
} 
.marq{
  margin-top: 25px;
  /* width: 100%; */
}
.kra{
  /* margin: 5px 5px; */
 /* width: 15%; */
  height: 5rem;
}

.text{
  display: flex;
  /* text-align: center; */
  justify-content: center;
  padding-top: 25px;
  font-size: 20px;
  color: white;
}

.img{
  height: 8rem;
}
